In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#Reading the dataset
data = pd.read_csv("C:/Users/nados/Downloads/airtravel.csv")

In [9]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       65.4   22.1
1   46.7   39.5       45.5   10.4
2   17.9   45.8       13.4   12.0
3  151.4   81.3       58.4   16.5
4  183.9   11.9       29.7   17.9

In [10]:
X = data[['TV', 'Radio', 'Newspaper']]
y = data['Sales']

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [12]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()  
mlr.fit(X_train, y_train)

LinearRegression()

In [13]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(X, mlr.coef_))

Intercept:  14.309308722077347
Coefficients:

[('TV', -0.006472242525601415),
 ('Radio', -0.10760341625758975),
 ('Newspaper', 0.2040881256513828)]

In [14]:
#Prediction of test set
y_pred_mlr= mlr.predict(X_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [12.         19.04272977 19.04272977]

In [15]:
#Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

   Actual value  Predicted value
7          12.0         12.00000
6          10.4         19.04273
1          10.4         19.04273

In [16]:
#Model Evaluation
from sklearn import metrics
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
print('R squared: {:.2f}'.format(mlr.score(X,y)*100))
print('Mean Square Error:', meanSqErr)

R squared: 15.30
Mean Square Error: 49.79785193077987